  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root{
  --primaryTextColor : #232e35;
  --secondaryTextColor: #656d72;
  
  --borderColor:#f1f1f1;
  --lineColor:#d9d9d9;
  
  --primaryBackgroundColor:#fff;
  --secondaryBackgroundColor:#fbfbfb;
  --thirdBackgroundColor:#f5f3fe;
  
  --primaryIconColor:#7e74f1;
  --primaryIconColorHOver:#5d51e8;
  
  --sectionPadding:6rem 0;

  --itemBorderRadius:.7rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
}

h1,h2,h3,h4,h5,h5,strong{
  color:var(--primaryTextColor);
}

p{
  font-size: 1rem;/*16px*/
  line-height: 1.9rem;
}

p,span,label,input,textarea,li{
  color: var(--secondaryTextColor);
}

a{
  text-decoration: none;
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width:1200px) {
  .main-container{
    width: 90%;
  }
}
/* Buttons */
.btn{
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Title */
.section-title{
  margin: 1rem 0 4rem;
  font-size: 2rem; 
  text-transform: capitalize;
}
.pre-title{
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: .9rem;
}

.pre-title::before{
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}
/* layout */
.grid-3{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* logo and navigation menu */

.nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo{
  display: flex;
  align-items: center;
  font-weight: 799;
  font-size: 2rem;
}

.logo a{
  color: var(--primaryTextColor);
}

nav ul li{
display: flex;
align-items: center;
}

nav ul li a{
  color: var(--primaryTextColor);
}

/* Burger */

.burger div{
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger{
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* hero section */
#hero{
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name{
  font-size: 3rem;
  font-weight: 700;
  margin: .5rem 0 1rem;

}

.hero-name span{
  color: var(--primaryIconColor);
}

.hero-right img {
width: 60%;
}

.hero-right{
  display: flex;
  justify-content: center;
}

/* service section */
#services {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.services .pre-title{
  margin: 0 auto;
  
}
.services-title{
  text-align: center;
}

.services{
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.services h4{
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

/* resize line awesome last edited 5/11/23*/
.las {
  transform: scale(2,2);
  color: var(--primaryIconColor);
}

/* portfolio section */
#portfolios{
  padding: var(--sectionPadding);
}

.portfolio{
  border-radius:var(--itemBorderRadius);
  overflow: hidden;
  border: solid 1px var(--borderColor);
}

.portfolio-cover{
  height: 250px;
}

.portfolio-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info{
  padding: 2rem 1.5rem;
}

.portfolio-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1 rem;
}

.portfolio h4{
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover{
  fill: var(--primaryIconColorHOver);
}

.portfolio a svg{
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div{
  font-size: .9rem;
  border: 1px solid var(--borderColor);
  padding: .4rem 1rem;
  color: var(--secondaryTextColor);
  border-radius: 5px;
}


/* skills & Education */
#skills{
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
}